<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <properties resource="database.properties"/>

    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="cacheEnabled" value="true"/>
        <!-- 开启自动映射 -->
        <setting name="autoMappingBehavior" value="FULL"/>
        <!-- 日志实现11 -->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
        <!-- 配置默认的执行器11 -->
        <setting name="defaultExecutorType" value="SIMPLE"/>
    </settings>

    <typeAliases>
        <package name="nxu.entity"/>
    </typeAliases>

    <!-- 配置PageHelper拦截器 -->
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <property name="helperDialect" value="mysql"/>
            <property name="reasonable" value="true"/>
            <property name="supportMethodsArguments" value="true"/>
            <property name="params" value="count=countSql"/>
        </plugin>
    </plugins>


    <mappers>
        <!--如果resources目录下存放xml文件的 包路径 和 java目录下存放dao接口的 包路径 相同的话，还可以使用package来配置-->
        <!--<package name="nxu.dao"/>-->
        <mapper resource="mapper/UserMapper.xml"/>
        <mapper resource="mapper/AdminMapper.xml"/>
        <mapper resource="mapper/DepartmentMapper.xml"/>
        <mapper resource="mapper/NewsDepartmentMonthlyMapper.xml"/>
        <mapper resource="mapper/EditorialDepartmentMonthlyMapper.xml"/>
        <mapper resource="mapper/FeeMonthlySummaryMapper.xml"/>
        <mapper resource="mapper/ProxyReceiptRecordsMapper.xml"/>
        <mapper resource="mapper/FeedbackMapper.xml"/>
        <mapper resource="mapper/AnnouncementMapper.xml"/>
        <mapper resource="mapper/LoginLogMapper.xml"/>
        <mapper resource="mapper/PermissionMapper.xml"/>
        <mapper resource="mapper/UserPermissionMapper.xml"/>
    </mappers>

</configuration>